.App {
  text-align: center;
}

.App-header {
  margin-top: 75px;
}

.headimagerank {
  width: 200px;
  height: 59px;
}

.headimageleader {
  width: 200px;
  height: 59px;
}

.bodyimage{
display: inline-block;
margin-left:auto;
margin-right: auto;
}

.bodyimagegeneral{
  height: 354.63px;
  width: 388.09px;
}

.drawButton { 
  margin-top: 30px;
}
