
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.App {
  text-align: center;
}

.App-header {
  margin-top: 75px;
}

.headimagerank {
  width: 200px;
  height: 59px;
}

.headimageleader {
  width: 200px;
  height: 59px;
}

.bodyimage{
display: inline-block;
margin-left:auto;
margin-right: auto;
}

.bodyimagegeneral{
  height: 354.63px;
  width: 388.09px;
}

.drawButton { 
  margin-top: 30px;
}

.searchBar {
  width: 773px;
  height: 50px;
  background: url(Vector.svg) left no-repeat;
  background-position-x: 2%;
  padding-left: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.searchBarInput {
  height: 90%;
  width: 95%;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-left-style: hidden;
}
input:focus, textarea:focus, select:focus{
  
  outline: none;
}


.slotStyle {
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  background:url(LINE.svg) bottom no-repeat;
  grid-template-areas:
    "rank complogo compname";
}
.rank { 
  grid-area: rank;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: auto auto;
}
.complogo { 
  grid-area: complogo;
  text-align: left;
  min-height: 50px;
  max-height: max-content;
  display: flex;

}
.resize{
  height: auto; 
  width: 50px;
  margin: auto auto;
}
.compname { 
  grid-area: compname;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 23px;
  color: #000000;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  margin-left: 5%;
  
}


.leaderboardinter {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  grid-template-rows: 0.1fr 2.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". SearchBar ."
    ". rankSlots .";
}
.SearchBar { 
  grid-area: SearchBar;
  margin: auto auto;
}
.RankSlots { 
  grid-area: rankSlots;
  
 }